<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1900</key>
	<string>8</string>
	<key>1903</key>
	<string>5</string>
	<key>1906</key>
	<string>4</string>
	<key>1909</key>
	<string>2</string>
	<key>1911</key>
	<string>6</string>
	<key>1914</key>
	<string>5</string>
	<key>1917</key>
	<string>2</string>
	<key>1919</key>
	<string>7</string>
	<key>1922</key>
	<string>5</string>
	<key>1925</key>
	<string>4</string>
	<key>1928</key>
	<string>2</string>
	<key>1930</key>
	<string>6</string>
	<key>1933</key>
	<string>5</string>
	<key>1936</key>
	<string>3</string>
	<key>1938</key>
	<string>7</string>
	<key>1941</key>
	<string>6</string>
	<key>1944</key>
	<string>4</string>
	<key>1947</key>
	<string>2</string>
	<key>1949</key>
	<string>7</string>
	<key>1952</key>
	<string>5</string>
	<key>1955</key>
	<string>3</string>
	<key>1957</key>
	<string>8</string>
	<key>1960</key>
	<string>6</string>
	<key>1963</key>
	<string>4</string>
	<key>1966</key>
	<string>3</string>
	<key>1968</key>
	<string>7</string>
	<key>1971</key>
	<string>5</string>
	<key>1974</key>
	<string>4</string>
	<key>1976</key>
	<string>8</string>
	<key>1979</key>
	<string>6</string>
	<key>1982</key>
	<string>4</string>
	<key>1984</key>
	<string>10</string>
	<key>1987</key>
	<string>6</string>
	<key>1990</key>
	<string>5</string>
	<key>1993</key>
	<string>3</string>
	<key>1995</key>
	<string>8</string>
	<key>1998</key>
	<string>5</string>
	<key>2001</key>
	<string>4</string>
	<key>2004</key>
	<string>2</string>
	<key>2006</key>
	<string>7</string>
	<key>2009</key>
	<string>5</string>
	<key>2012</key>
	<string>4</string>
	<key>2014</key>
	<string>9</string>
	<key>2017</key>
	<string>6</string>
	<key>2020</key>
	<string>4</string>
	<key>2023</key>
	<string>2</string>
	<key>2025</key>
	<string>6</string>
	<key>2028</key>
	<string>5</string>
	<key>2031</key>
	<string>3</string>
	<key>2033</key>
	<string>11</string>
	<key>2036</key>
	<string>6</string>
	<key>2039</key>
	<string>5</string>
	<key>2042</key>
	<string>2</string>
	<key>2044</key>
	<string>7</string>
	<key>2047</key>
	<string>5</string>
	<key>2050</key>
	<string>3</string>
	<key>2052</key>
	<string>8</string>
	<key>2055</key>
	<string>6</string>
	<key>2058</key>
	<string>4</string>
	<key>2061</key>
	<string>3</string>
	<key>2063</key>
	<string>7</string>
	<key>2066</key>
	<string>5</string>
	<key>2069</key>
	<string>4</string>
	<key>2071</key>
	<string>8</string>
	<key>2074</key>
	<string>6</string>
	<key>2077</key>
	<string>4</string>
	<key>2080</key>
	<string>3</string>
	<key>2082</key>
	<string>7</string>
	<key>2085</key>
	<string>5</string>
	<key>2088</key>
	<string>4</string>
	<key>2090</key>
	<string>8</string>
	<key>2093</key>
	<string>6</string>
	<key>2096</key>
	<string>4</string>
	<key>2099</key>
	<string>2</string>
</dict>
</plist>
